                     <li class="comment_content" id="comment-<%= comment.id %>">
                        <p style="color:black;font-weight:bold;"><%= comment.content %> </p>
                        <div>
                           <p> by- <%= comment.user.email %></p>
                           <% if user_signed_in? && comment.user_id ==  current_user.id %>
                           <p><%= link_to "Delete", destroy_comment_path(comment.id), remote: true, method: :delete %></p>
                           <% end %>
                        </div>
                     </li>