<main id="posts-home">
   <div id="group">
      <div id="abc">
         <p> Group Links </p>
      </div>
   </div>
   <div class="deewar-posts">
      <div class="new-post-form">
         <% if user_signed_in? %>
         <%= form_for @post, remote: true do |f| %>
         <%= f.text_area :content , value:"write something here.." %><br>
         <%= f.submit nil , :class => 'btn'  %>
         <% end %>
         <% end %>
      </div>
      <div >
         <ul class="posts-list">
            <% @posts.reverse.each do |post| %>
               <%= render 'post', post: post %>
            <% end %>
         </ul>
      </div>
   </div>
   <div id="friends">
      <div id="friend">
         <p>Friends</p>
         <input id="user-search" type="text" placeholder="Search...">
      </div>

   </div>

      <script type="text/javascript">
   {
   
       $( "#user-search" ).autocomplete({
            source: '/users/search',
            minLength: 2,
            select: function( event, ui ) {
                
               // console.log(user_ids[]);
               console.log(ui.item);
               window.location = '/users/profile/' + ui.item.id;
            }
          });
   }
  </script>
    

</main>