/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin: 0;
	background:#EDEAE9;

	#common-header{
	    position:relative;
	    height:60px;
		width:100%;
		box-shadow: 1px 2px 1px 1px white;
		background-color:black;
		
       .logo{
           position:absolute;
           top:8px;
           left:8%;
       }
       #site-name{
           position:absolute;
           color:white; 
           top:-27px;
           left:12%;
           
         p{  
          font-size:40px;
           font-family:helvetica;
            a{
               text-decoration:none;
               color:white;

            }

         }

       }
       .auth-info-links{
         position:absolute;
         width:20%;
         display:flex;
         justify-content:space-around;
         left:70%;


         .sign-up{
              background-color:#FF6B33;
              padding:5px;
              border-radius:5px;

              a{
                text-decoration:none;
                color:white;

              }

         }
         .sign-in{

                 background-color:#FF6B33;
              padding:5px;
              border-radius:5px;

              a{
                 text-decoration:none;
                color:white;

              }

         }

         .signout{
     

              background-color:#FF6B33;
              padding:5px;
              border-radius:5px;

              a{
                 text-decoration:none;
                color:white;
         }
       } 
       .email{
       color:white;
       margin-top:22px;

       }

       }
    

	}
}	
#google-auth{
width:200px;




}