/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui

 */

body{
	margin: 0;
	background:#EDEAE9;

	#common-header{
	    position:relative;
	    height:60px;
		width:100%;
		box-shadow: 1px 2px 1px 1px white;
		background-color:black;
		
       .logo{
           position:absolute;
           top:8px;
           left:8%;
       }
       #site-name{
           position:absolute;
           color:white; 
           top:-27px;
           left:12%;
           
         p{  
          font-size:40px;
           font-family:helvetica;
            a{
               text-decoration:none;
               color:white;
               transition:color 200ms ease-in-out;

            }

         }

       }
       #site-name p a:hover{
         color:#FF6B33
       }
       .auth-info-links{
         position:absolute;
         width:30%;
         display:flex;
         justify-content:space-around;
         left:70%;
         #home_avatar{
         position:relative;
         top:10px;
        .home_avatar{
         border-radius:20px;
         height:40px;
         width:40px;
        }
        }  
         .sign-up{
              background-color:#FF6B33;
              padding:5px;
              border-radius:5px;

              a{
                text-decoration:none;
                color:white;

              }

         }
         .sign-in{

                 background-color:#FF6B33;
              padding:5px;
              border-radius:5px;

              a{
                 text-decoration:none;
                color:white;

              }

         }

         .signout{
     

              background-color:#FF6B33;
              padding:5px;
              border-radius:5px;

              a{
                 text-decoration:none;
                color:white;
         }
       } 
       .email{
       color:white;
       margin-top:22px;

       }

       }
    

	}
}	

#sign_in_page{
width:100%;
position:relative;
height:620px;
background:white;
#log_in_text{
margin:0;
}
#sign_in_image {
position:absolute;
left:55%;
top:80px;
img{
  height:400px;
  width:400px;
}

}
#log_in_text{
float:left;
position:relative;
top:80px;
left:10%;
span{
color:#041A9A;
font-size:70px;
cursor:pointer;
transition:text-shadow 200ms ease-in-out;
}

}
#log_in_text span:hover{
text-shadow:0 0 5px blue;
} 
#sign_in_form{
position:absolute;
top:200px;
left:10%;
width:300px;
.field-2{
margin-top:20px;

}
.common-label{
margin-top:5px;
font-weight:bold;
}
.sign_in_fields{
width:80%;
padding:5px;
border-radius:5px;

}
.actions{
margin-top:20px;
.login_submit_button{
width:85%;
cursor:pointer;
padding:8px;
background:black;
color:white;
border:0px;
border-radius:20px;

}
}
.forgot_password{
text-decoration:none;
color:#808082;
position:relative;
top:5px;
}
.confirmation_link{
text-decoration:none;
color:#808082;
position:relative;
top:10px;
}
}
#fb-login{
position:absolute;
top:430px;
left:20%;
img{
width:130px;
height:28px;
}
}
#g-auth{
position:absolute;
left:10%;
top:430px;
#google-auth{
width:130px;
}

}
}
#user-chat-box{
    position: fixed;
    bottom: 0;
    right: 10px;
    border: 1px dashed grey;
    height: 350px;
    width: 300px;
    background-color: white;

    #chat-messages-list{
      list-style: none;
      padding: 10px;
      height: 70%;
      background-color: white;
      overflow: auto;

      .other-message{
        text-align: left;
        padding: 5px;
        span{
          display: inline-block;
          height: 100%;
          background-color: #ffa0a0;
        }
        
      }

      .self-message{
        text-align: right;
        padding: 5px;
       
        span{
           
          display: inline-block;
          height: 100%;
          background-color: #a0dcff;
        }
       
      }

    }
    #chat-message-input-container{
          height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;

        #chat-message-input{
            height: 50%;
          width: 70%;
        }

        #send-message{
            height: 50%;
          width: 30%;
          font-size: 25px;
          color: white;
          border: none;
          background: #58d258;
        }
      }
}

