// Place all the
// styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#posts-home{
	margin-top:0px;
	display: flex;
	flex-direction:row;
	min-height:620px;


	#group{ 
	background-color:white;
	width:25%;
	position:relative;

    #abc{
         position:absolute;
         width:60%;
         height:500px;
         background-color:#E9E4E0;
         top:20px;
         left:20%;
         box-shadow:0px 0px 6px 1.5px black;

    p{
    background-color:black;
    color:white;
    padding:3px;
    text-align:center;
    margin-top:0px;
    height:20px;

    }     

    }

	}

	
       
	
	#friends{
        width:25%;
        background-color:white;
        position:relative;

        #friend{
         position:absolute;
         width:60%;
         height:500px;
         background-color:#E9E4E0;
         top:20px;
         left:20%;
         box-shadow:0px 0px 6px 1.5px black;

         #user-search{
          margin-left:6px;
          
         }

         p{
    background-color:black;
    color:white;
    padding:3px;
    text-align:center;
    margin-top:0px;
    height:20px;
	}
	}
	    }		

	.deewar-posts{
		width: 50%;
		background-color:#E3E1E0;
		position:relative;


		.new-post-form{
           text-align:center;
           height:180px;
           margin-top:14px;
           background:#8EA9C4;
           width:80%;
           margin-left:60px;
           box-shadow:0px 0px 5px 1px black;
           border-radius:5px;

        #new_post{
          padding-top:18px;
         


        #post_content{
         width:80%;
         height:100px;
         border-radius:10px;

        }
        .btn{
        width:80%;
        padding:5px;
        margin-top:5px;
        background-color:#FF6B33;
        border-radius:5px;
        color:black;
        cursor:pointer;
        border: 0px;

        }
		}
}

.posts-list{
 list-style-type:none;
 width:90%;
 padding-left:4.5%;
 border-radius:10px;



 .post_content{
     background:#8EA9C4;
     border-radius:10px;
     box-shadow:0px 0px 5px 1px black;
     
     


   #post-data{
    .user-email{
     color:black;
     font-weight:bold;
     width:100%;
     position:relative;
     top:10px;
     left:3%;
     margin:0;


    }
      .user-content{
       width:90%;
       background-color:white;
       padding:10px;
       position:relative;
       top:5px;
       left:3%;
       border-radius:5px;
       color:black;
       border:1px solid black;

     }
     #delete-likes{
     display:flex;
     justify-content:space-between;
     margin-top:-10px;
     .post-delete{
      
              background-color:#FF6B33;
              padding:5px;
              width:45px;
              position:relative;
              left:-20px;

              a{
                text-decoration:none;
                color:white;

              }
        
      }
    .likes{
          display:flex;
          width:30%;
          justify-content:space-between;
          position:relative;
          margin-left:20px;

          .like-button{

               
              background-color:#FF6B33;
              padding:6px;
              width:40px;
              position:relative;

              a{
                text-decoration:none;
                color:white;

              }

          
          }
          .like-counter{
               margin-top:22px;
          }
      }

}
}      

      


     }


   }  
   #comment{
      margin-top:-30px;

      h5{
          text-align:center;
          text-decoration:underline;
      }
      #new_comment{
          #comment_content{
             width:80%;
             padding:5px;
             margin-left:9%;
             border-radius:10px;
             height:50px;
            }
           .cmt-btn{
            width:90%;
            padding:5px;
            margin-left:5%;
            background:black;
            margin-top:5px;
            cursor:pointer;
            margin-bottom:10px;
            border:none;
            color:white;


           }  

          }
       ul{
       width:100%;
       padding-left:0px;
       margin-bottom:10px;
          .comment_content{
            display:flex;
            flex-direction:column;
            width:90%;
            background:#85F394;
            position:relative;
            left:5%;
            border-radius:5px;
            margin-bottom:-5px;

            p:first-child{
             margin-bottom:0px;
             margin-top:0px;
             padding:5px;
             
            }
            


            div{
           display:flex;
           justify-content:space-between;
           height:20px;

           p:last-child{
            position:relative;
            top:-18px;
            left:-2px;

           }
           p:last-child{
           background-color:#FF6B33;
              padding:5px;
              border-radius:5px;
              height:10px;

              a{
                 text-decoration:none;
                color:white;


           }

            }
 
          }

       }


      }


   }

 }
 }


















